/* -------------------------------------------------------------------------- */
/*                                   Helper                                   */
/* -------------------------------------------------------------------------- */

@layer componentsNwp {
	.nav {
		--gap: var(--spacing-sm);
		display: flex;
		gap: var(--gap);
		flex-wrap: nowrap;
		align-items: center;
		justify-content: start;
	}

	.stack-list {
		--gap: var(--spacing-xs);
		display: flex;
		flex-direction: column;
		gap: var(--gap);
	}

	.cluster {
		--gap: var(--spacing-sm);
		display: flex;
		flex-wrap: wrap;
		gap: var(--gap);
	}
}

@import './ui/_stacker.css';
@import './ui/_split-list.css';
/* @import './ui/_box.css';

@import './ui/_ascii.grid.css';
@import './ui/_callout.css';
@import './ui/_log.css';
@import './ui/_divide.css';
@import './form/_button.css';
@import './form/_code-box.css';
@import './form/_btn-nwp.css'; */
